html 
    head    
        title 
        <link rel="stylesheet" type="text/css" href="./style.css">
    body
    <h1>HIVE CAFE</h1>
    <button type="search">Search</button>
     //<!-- input tag -->
      <input id="searchbar" onkeyup="search_names()" type="text"
        name="search" placeholder="Search names">
      
      