extends layout
block content
    h1 HIVE COFFEE CARD
    h2 #{user.role}
    p Name: #{user.name}
    p Email: #{user.email}
    p Stamps Collected: #{user.stamps}
    a(class='button' href='/users') Back