extends layout
block content
    h1 WELCOME TO HIVE COFFEE CARD!!

    h2 ALREADY HAVE AN ACCOUNT? PLEASE CLICK LOGIN



    <a  href='/login' > <button> LOGIN </button> </a>

    h2  ARE YOU A NEW USER? PLEASE CLICK REGISTER 
    <a  href='/register' > <button> REGISTER </button> </a>
